<h1> for문

<h3> 1. 구구단

In [7]:
a=int(input())
for b in range(1,10):
    print(a,"*",b,"=",a*b)

 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

<h3> 2. A+B-3

In [8]:
Count=int(input())
for c in range(0,Count):
    A,B=map(int,input().split())
    print(A+B)

 5
 1 3

4

 2 4

6

 2 2

4

 3 7

10

 100 3

103

In [10]:
exec('print(eval("+".join(input())));'*int(input()))

 5
 1 4

5

 2 3

5

 2 2

4

 2 1

3

 2 6

8

<h3> exec and eval
<h6> 둘 다 문자열로 표현된 파이썬 코드를 실행할 때 사용합니다
<h6> 차이점은 eval()은 식만을 처리하며 exec()는 문을 받아 처리합니다.
<h6> a = eval("a+4") # eval 예시
<h6> exec("a = a+4") # exec 예시

<h3> 3. 합

In [16]:
print(sum(range(1,int(input())+1)))

 5

15

<h3> 4. 빠른 A+B

In [21]:
import sys

In [25]:
Count=int(input())
for c in range(0,Count):
    A,B=map(int,sys.stdin.readline().split())
    print(A+B)

# Jupyter에선 실행이 되지 않는다(아래 실행은 input을 사용함)

 5
 1 5

6

 1 3

4

 2 100

102

 -3 2

-1

 5 5

10

<h3> 5. N 찍기

In [28]:
for i in range(1,int(input())+1):
    print(i)

 5

1
2
3
4
5

<h3> 6. 기찍 N

In [29]:
N=int(input())

for i in range(1,N+1):
    print(N+1-i)

 5

5
4
3
2
1

<h3> 7. A+B-7

In [34]:
Count=int(input())
for c in range(1,Count+1):
    A,B=map(int,input().split())
    print("Case #"+str(c)+":",A+B)

 5
 1 2

Case #1: 3

 3 4

Case #2: 7

 5 6

Case #3: 11

 7 8

Case #4: 15

 9 1

Case #5: 10

<h3> 8. A+B-8

In [35]:
Count=int(input())
for c in range(1,Count+1):
    A,B=map(int,input().split())
    print("Case #"+str(c)+":",A,"+",B,"=",A+B)

 3
 1 2

Case #1: 1 + 2 = 3

 3 4

Case #2: 3 + 4 = 7

 5 6

Case #3: 5 + 6 = 11

<h3> 9. 별 찍기-1

In [39]:
Count=int(input())
for c in range(1,Count+1):
    print("*"*c)

 5

*

**

***

****

*****

<h3> 10. 별 찍기-2

In [50]:
Count=int(input())
for c in range(1,Count+1):
    print(" "*(Count-c)+"*"*c)

 8

       *
      **
     ***
    ****
   *****
  ******
 *******
********

<h3> 11. X보다 작은 수

In [52]:
N,X=map(int,input().split())

A = list(map(int, input().split(" ")))

for i in A:
    if X > i:
        print(i, end=" ")
        
# N은 Python에선 필요가 없다. 이는 다른 언어를 사용할 때 필요한 것이기 때문에 Python에서는 고려하지 않아도 된다

 10 9
 1 2 100 100

1 2

In [59]:
print(*[1,3,5])
print([1,2,3])

# *의 의미 찾아보자

1 3 5
[1, 2, 3]