# 17.정수론 및 조합론

### 1.배수와 약수

In [1]:
while True:
    m,n=map(int,input().split())
    
    if m+n==0:
        break
    
    if m%n==0:
        print("multiple")
    elif n%m==0:
        print("factor")
    else:
        print("neither")

 8 16

factor

 4 2

multiple

 4 3

neither

 0 0

### 2.약수

In [2]:
N=int(input())
Nlist=list(map(int,input().split()))
Nlist.sort()

if len(Nlist)%2!=0:
    print(Nlist[(len(Nlist)-1)//2]**2)
else:
    print(Nlist[(len(Nlist)//2)-1]*Nlist[(len(Nlist)//2)])

 3
 3 9 27

81

### 4.최소공배수

In [3]:
N=int(input())

def GCF(m,n):
    if m==0 or n==0:
        return(m+n)
    if m>n:
        return GCF(m%n,n)
    else:
        return GCF(m,n%m)
    
for _ in range(N):
    a,b=map(int,input().split())
    print((a*b)//GCF(a,b))

 3
 1 45000

45000

 45 95

855

 243 12

972

### 7.이항계수1

In [4]:
M,N=map(int,input().split())

X=1
for x in range(M,M-N,-1):
    X*=x

Y=1
for y in range(N,0,-1):
    Y*=y
    
print(X//Y)

 10 5

252

### 9.다리 놓기

In [5]:
repeat=int(input())
        
for _ in range(repeat):
    n,m=map(int,input().split())
    up=1
    down=1
    for i in range(m,m-n,-1):
        up*=i
    for j in range(1,n+1):
        down*=j
    print(up//down)

 3
 2 2

1

 1 5

5

 3 10

120

### 10.패션왕 신해빈

In [6]:
N=int(input())

for _ in range(N):
    t=int(input())
    Tdict={}
    for _ in range(t):
        _,y=input().split()
        if y not in Tdict.keys():
            Tdict[y]=2
        else:
            Tdict[y]+=1
    count=1
    for x in list(Tdict.values()):
        count*=x
    print(count-1)

 2
 3
 hat headgear
 sunglasses eyewear
 turban headgear

5

 3
 mask face
 sunglasses face
 makeup face

3

### 11.팩토리얼 0의개수

In [7]:
facto=1
count=0
N=int(input())

for x in range(1,N+1):
    facto*=x
while facto%10==0:
    count+=1
    facto//=10
print(count)

 500

124

In [8]:
N=int(input())
count=0

for x in range(1,N+1):
    for i in range(1,4):
        if x%5**i==0:
            count+=1
        
print(count)

 0

0

In [9]:
N=int(input())
count=0

for i in range(1,4):
    count+=N//5**i
        
print(count)

 500

124

### 12.조합 0의 개수

In [11]:
n,m=map(int,input().split())

fivecount=0
twocount=0

for a in range(1,14):
    fivecount+=n//5**a # 1~n까지의 5의 a제곱 개수를 다 더하기
    fivecount-=(n-m)//5**a # 1~(n-m)까지의 5의 a제곱 개수를 다 빼기
    fivecount-=m//5**a # 1~m까지의 5의 a제곱 개수를 다 빼기
for b in range(1,31):
    twocount+=n//2**b # 1~n까지의 2의 b제곱 개수를 다 더하기
    twocount-=(n-m)//2**b # 1~(n-m)까지의 2의 b제곱 개수를 다 빼기
    twocount-=m//2**b # 1~m까지의 2의 b제곱 개수를 다 빼기
            
# 10은 2와 5의 곱이라는 것을 숙지
print(min(fivecount,twocount))

 500 10

2